body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


.navbar {
    background-color: #1e1e2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 65px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.nav-button {
    background-color: #ffffff;
    color: #1e1e2f;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #eaeaea;
}

.nav-links {
    display: flex;
    gap: 10px;
}


.container {
    max-width: 800px;
    margin: 90px auto;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 40px;
    color: #666;
}


.upload-box {
    display: inline-block;
    padding: 16px 24px;
    border: 2px dashed #888;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.upload-box input[type="file"] {
    display: none;
}


button[type="submit"] {
    background-color: #1e1e2f;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #33334d;
}


.result {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #f0f0f0;
}

.result .real {
    color: green;
    font-weight: bold;
}

.result .fake {
    color: red;
    font-weight: bold;
}

.confidence {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.preview-image-container {
    margin-top: 30px;
}

.preview-image-container h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #444;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.disclaimer {
    margin-top: 12px;
    font-size: 14px;
    color: #777;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
